
#imageEau{

}
#welcome{
	color: white;
	padding-top: 15px;
	padding-left: 15px;
}
/*  FORMULAIRE CLIENT - PAGE INDEX */
#contact{
	background-color: #1BB697;
	border-radius: 4px;
	color: white;
}
#formulaire{
	padding: 10px 20px 20px 20px;
}
#barreConnexion{
    margin-right: 7px;
	border-radius: 4px 4px 0 0;
	color: black;
	background-color: #26BD9F;
	border-bottom:1px solid #6A8C8C;
}
#textConnexion{
	padding: 10px 0 0 20px;
	color: white;
}
#btnLogin{
	color: white;
	background-color: #396161;
}

/* MESSAGES - PAGE INDEX */
#message{
	display: none;
	padding: 10px;
	padding-left: 20px;
	border-radius: 4px;
	background-color: grey;
	color: white;
	margin-bottom: 15px;
}
#incorrectpassword{
	display: none;
	padding: 10px;
	padding-left: 20px;
	border-radius: 4px;
	background-color: #FEAE0E;
	color: white;
	margin-bottom: 15px;
}
#username, #password{
	border-radius: 4px;
	width: 100%;
	color: black;
}

/* PAGE TODO */
#todoBox{
	background-color: white;
	color: black;
	border-radius: 4px;
	border:1px solid #FEE121;
}
#todoCheckbox{
	padding: 10px 20px 20px 20px;
}
#barreTodo{
	border-radius: 4px 4px 0 0;
	color: black;
	background-color: #D0D1D1;
	border-bottom:1px solid #6A8C8C;
}
#textTodo{
    margin-right: 7px;
	padding: 10px 0 0 20px;
}
#btnEndTask{
	color: white;
	background-color: #1BB697;
}
.checkBox{
	padding-right: 4px;
}

/* PAGE ADDTASK.PHP */
#addTaskBox{
	background-color: white;
	color: black;
	border-radius: 4px;
	border:1px solid #42475A;
}
#barreAddTask{
	border-radius: 4px 4px 0 0;
	color: black;
	background-color: #D0D1D1;
	border-bottom:1px solid #6A8C8C;
}
#textAddTask{
    margin-right: 7px;
	padding: 10px 0 0 20px;
}
#inputAddTask{
	padding: 10px 20px 20px 20px;
}
#btnAddTask{
	color: white;
	background-color: #42475A;
}
#task{
	width: 100%;
	border-radius: 4px;
}

/* PAGE STARTTASK.PHP */
#startTaskBox{
	background-color: white;
	color: black;
	border-radius: 4px;
	border:1px solid #1BB697;
}
#selectStartTask{
	padding: 10px 20px 20px 20px;
}
#barreStartTask{
	border-radius: 4px 4px 0 0;
	color: black;
	background-color: #D0D1D1;
	border-bottom:1px solid #6A8C8C;
}
#textStartTask{
    margin-right: 7px;
	padding: 10px 0 0 20px;
}
#btnStartTask{
	color: white;
	background-color: #1BB697;
}


/* PAGE ENDTASK.PHP */
#endTaskBox{
	background-color: white;
	color: black;
	border-radius: 4px;
	border:1px solid #1BB697;
}
#endTaskDisplay{
	padding: 10px 20px 20px 20px;
}
#barreEndTask{
	border-radius: 4px 4px 0 0;
	color: black;
	background-color: #D0D1D1;
	border-bottom:1px solid #6A8C8C;
}
#textEndTask{
    margin-right: 7px;
	padding: 10px 0 0 20px;
}
.task{
	float: right;	
	/*width: 65%;*/
	padding-right: 10px;
	clear: right;
}
.time{
	display: flex;
	float: left;
	clear: left;
	width: 35%;
}
.clearfix{
 	clear: both;
 }
#lign{
	border-bottom:1px solid #6A8C8C;
}

.inProgress{
	font-size: 10px;
	border-radius: 4px;
	background-color: #FE5E5E;
	color: white;
	width: 45px;
	height: 100%;
	padding: 0 2px 2px 0;
	margin-right: 4px;
}

